# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Elixir / Mix
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
crash.dump
*.ez

# Elixir language tools
/.elixir_ls/
priv/uploads/
/tmp/
/assets/node_modules/
*.db
*.db-shm
*.db-wal
