<.site_head active={@active} home_page={@home_page} menu_pages={@menu_pages} />
<main>
  <div class="wrap narrow pt-[46px] pb-[var(--tt-sec)]">
    <h1 class="f-h1">{gettext("Nothing here")}</h1>
    <p class="f-body mt-4">
      {gettext("There is no text at this address.")}
      <a class="link" href={~p"/"}>{gettext("Back to the front page")}</a>.
    </p>
  </div>
</main>
<.site_foot current_scope={@current_scope} />
